[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
bumpversion = "*"
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
Sphinx = "*"
twine = "*"
yapf = "*"
sphinx-rtd-theme = "*"

[packages]
creating_the_docs = {path = ".",editable = true}

